SERVICE_NAME={{ service_name }}
SERVICE_PORT={{ service_port }}
APP_ENV={{ environment }}
LOG_DIR={{ shared_log_dir }}
HEALTH_DIR={{ health_dir }}
PAYMENTS_API_KEY=replace-me
DB_HOST=127.0.0.1
DB_PORT=5432
